.user-info__card {
  border-radius: 10px 10px 0 0 !important;
  margin-top: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135deg, #fdfbfb 0%, #ebedee 100%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.user-info__card.dark {
  background-color: #2d2d2d !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: #f5f5f5 !important;
}

.user-info__content {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.user-info__avatar {
  width: 90px !important;
  height: 90px !important;
  border: 4px solid #f5ba13;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
@media screen and (max-width: 600px) {
  .user-info__card {
    padding: 0.6rem;
  }
  .user-info__avatar {
    width: 70px !important;
    height: 70px !important;
  }
  .user-info__name {
    font-size: 1rem !important;
  }

  .user-info__details p {
    font-size: 0.8rem !important;
  }
  .user-info__settings {
    width: 5rem !important;

    bottom: -15px !important;
    right: -10px !important;
  }
  .user-info-container {
    padding: 0rem !important;
  }
  .user-info__content {
    padding: 1rem  0.5rem !important;
    gap: 1rem !important;
  }
}

.user-info__avatar:hover {
  transform: scale(1.1);
}

.user-info__details {
  flex-grow: 1;
}

.user-info__name {
  font-weight: 600;
  color: #333;
}
.user-info__name.dark {
  color: #f5f5f5 !important;
}

.user-info__details p {
  font-size: 14px;
  color: #666;
  margin-top: 4px;
}
.user-info__details.dark p {
  color: #999 !important;
}

.user-info__details p:last-child {
  font-style: italic;
  color: #999;
}
.user-info__details.dark p:last-child {
  font-style: italic;
  color: #666 !important;
}

/* Settings Image (Always at Bottom Right) */
.user-info__settings {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 10rem;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.user-info__card:hover .user-info__settings {
  opacity: 1;
  transform: scale(1.1);
}
