* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    background: #eee;
    padding: 0 16px;
    position: relative;
    min-height: 100vh;
    height: max-content;
    overflow-x: hidden;
    width: 100vw;
    /* background-color: #8a008a; */
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  padding-top: 3rem;
  }