* {
  padding: 0;
  margin: 0;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  /* background: #eee; */
  /* background-color: #f5b913d2 !important; */
  /* background: linear-gradient(to bottom, #fff8e1, #f0a500); */
  /* background: #3b5998; */
  /* star */
  /* background: #d85a32; */
  /* background: #1e1e1e; */
  background: #11656685;
  /* background: #fef953; */
  /* background: linear-gradient(to bottom, #fff4e6, #f5b913); */
  padding: 0 16px;
  position: relative;
  min-height: 80vh;
  height: max-content;
  overflow-x: hidden;
  width: 100vw;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  padding-top: 4rem;
}
